/* Modals */
.modal-window>div {
  border-radius: 30px;
}

.modal-window+.modal-window {
  z-index: 10;
}

.modal-window .modal-title {
  background: var(--primary);
  background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%);
  font-size: 18px;
  line-height: 1.25;
  color: var(--white);
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.modal-window .md-dialog-container {
  background: none;
}

.modal-window .md-dialog-actions {
  background: var(--background);
  margin-bottom: 0 !important;
  padding: 10px 30px;
}

.modal-window .modal-content {
  padding: 20px;
  border: 0;
  border-bottom: 1px solid var(--gray);
  border-radius: 0;
  overflow-y: auto;
}

.modal-window .modal-content .el-form-item__content .icon-information {
  position: absolute;
  right: 0;
  top: 10px;
  padding: 5px;
  width: 24px;
  height: 24px;
  background: var(--primary);
  border-radius: 50%;
}

.modal-window .modal-content .card-boxes.lessons_teacher {
  overflow-y: initial;
}

.modal-window .modal-content .card-boxes.lessons_teacher .card-content .button {
  margin-left: 0 !important;
}

.modal-window .modal-footer {
  background-color: var(--background);
  min-height: 73px;
}

.modal-window .modal-title {
  min-height: 62px;
}

.modal-window .modal-content p {
  margin: 0;
}

.modal-window .modal-content .no-padding {
  padding: 0;
}

.modal-window .modal-content .card-file-upload {
  max-height: 150px;
  overflow-y: scroll;
  background-color: var(--background);
  border: 1px solid var(--gray);
  top: -2px;
  position: relative;
  border-radius: 0 0 5px 5px;
}

.modal-window>div .button {
  margin-left: 15px !important;
}

.modal-window.manage-menu .md-dialog-container {
  min-width: 40vw;
}

.modal-window.manage-menu .el-form-item,
.modal-window.manage-menu .md-dialog-actions {
  width: 100%;
  margin-bottom: 10px;
}

.modal-window.manage-menu .card-content {
  padding: 0 25px;
}

.modal-window.manage-menu .card-content .manage-menu-icons {
  font-size: 20px;
}

.modal-window.filter-modal .card-content {
  padding: 0 10px;
}

.modal-window.filter-modal.standard {
  max-height: 90vh;
}

.modal-window.filter-modal.standard .card-content-title {
  font-size: 21px;
  padding: 0 10px 10px 10px;
}

.modal-window.filter-modal.standard .card-content-info {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--lightgray);
  background-color: var(--background);
  font-size: 14px;
  margin: 0 10px;
}

.modal-window.filter-modal.standard .card-content-info h3 {
  font-size: 14px;
}

.modal-window.filter-modal.standard .card-content-info .info {
  color: var(--red);
}

.modal-window.filter-modal.standard .el-form-item__content .card-content-info {
  padding: 10px;
  border-radius: 10px;
  margin: 0;
  border: 1px solid var(--lightgray);
  background-color: var(--background);
  font-size: 12px;
  line-height: 1.25;
}

.modal-window.filter-modal.document .md-dialog {
  height: 80vh;
}

.modal-window.filter-modal.document .md-dialog-container {
  width: 80vw;
}

.modal-window.filter-modal.document .md-dialog-container iframe {
  height: 62vh;
}

.modal-window .el-form-item__label {
  line-height: 1.5;
  padding: 10px 0;
}
