/* width */
/* Track */
/* Handle */
/* Handle on hover */
/* Infinite scroll */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: var(--white);
}
::-webkit-scrollbar-thumb {
	background: var(--lightgray);
	&:hover {
		background: var(--bluewood);
	}
}
.infinite-scroll {
	width: 100%;
}
