/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lightgray)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bluewood)
}

/* Infinite scroll */
.infinite-scroll {
  width: 100%;
}
