.add-custom-standard {
    position: relative;
    float: right;
  }
  
  .add-custom-standard>span {
    padding-left: 10px;
  }
  
  .add-custom-standard>.icon {
    font-size: 25px;
    height: 25px;
    width: 25px;
    text-align: center;
  }
  
  .add-lesson-plan {
    position: absolute !important;
    top: 10px;
    right: 20px;
    height: 36px;
    width: 36px;
    padding: 0 !important;
    background-color: var(--tertiary) !important;
  }
  
  .add-lesson-plan:hover {
    background-color: var(--tertiary) !important;
    opacity: 0.85;
  }
  
  .add-lesson-plan>.icon {
    font-size: 18px !important;
    height: 18px !important;
    width: 18px !important;
    padding: 0 !important;
    margin: auto;
    text-align: center;
  }
  