.assign-other-grades {
    float: left;
    width: 100%;
    margin-top: 0;
  }
  
  .assign-other-grades .records {
    float: left;
    position: relative;
    top: 15px;
    padding-left: 0;
    min-height: 40px;
    padding-right: 10px;
  }
  
  .assign-student {
    margin: 20px 0;
  }
  
  .assign-student .card-title {
    height: auto;
  }
  
  .assign-student .card-box {
    margin: 0;
    padding: 15px 20px;
  }
  
  .assign-student .el-tabs__nav {
    border: 0 !important;
  }
  
  .assign-student .ed_tabs {
    border: 1px solid var(--gray);
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .assign-student .ed_tabs .el-tabs__content {
    padding: 0 10px;
  }
  
  .assign-student-table-header {
    height: 40px;
    position: absolute;
    top: 30px;
    z-index: 1;
  }
  
  .assign-student .el-table__body-wrapper {
    overflow: hidden !important;
  }
  
  .assign-student .el-tab-pane {
    overflow-x: scroll !important;
  }
  
  .assign-student .el-table {
    overflow: hidden;
    border: 1px solid var(--gray);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  
  .assign-student .el-checkbox {
    padding: 0 15px 0 5px;
  }
  
  .assign-student .ed_tabs .el-tabs__nav .el-tabs__item:first-child .icon-close {
    visibility: hidden;
    pointer-events: none;
  }
  
  .assign-select>span {
    margin-right: 10px;
  }
  
  .assign-student-all-students {
    width: 535px;
    padding-left: 30px;
    float: left;
  }
  
  .assign-student-all-days {
    width: 150px;
    padding-left: 30px;
    float: left;
  }
  
  .assign-student-single-day {
    width: 560px;
    float: left;
    min-height: 40px;
    padding: 0;
  }
  
  .assign-student-single-day>.el-checkbox {
    width: 100px;
    padding: 0 0 0 10px;
    margin-right: 0;
  }
  
  .assign-student-wrapper {
    position: relative;
    min-width: 1300px;
    overflow-x: scroll;
    width: 100%;
  }
  
  .assign-thursday {
    padding-left: 27px !important;
  }
  
  .assign-friday {
    padding-left: 34px !important;
  }
  
  .assign-student .el-table__body {
    width: 1300px !important;
  }
  