.change-password {
	padding: 0 10px;
	margin: 0 auto;
	max-width: 600px;
	.title {
		padding: 0 15px;
		font-size: 20px;
	}
	.card-box {
		padding: 0;
		-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		.card-content {
			padding: 20px 25px;
			display: inline-block;
		}
	}
	.el-form {
		>div {
			padding: 0;
		}
	}
}
