.chart-legend {
    float: right;
    width: 100%;
    margin: 20px 0;
  }
  
  .chart-legend .blue {
    float: right;
    position: relative;
    margin-left: 40px;
  }
  
  .chart-legend .blue:before {
    top: 2px;
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: -20px;
    background-color: var(--tertiary)
  }
  
  .chart-legend .red {
    float: right;
    position: relative;
    margin-left: 40px;
  }
  
  .chart-legend .red:before {
    top: 2px;
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: -20px;
    background-color: var(--red)
  }
  
  .chart-legend .green {
    float: right;
    position: relative;
    margin-left: 40px;
  }
  
  .chart-legend .green:before {
    top: 2px;
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: -20px;
    background-color: var(--green)
  }
  
  .chart-legend .gray {
    float: right;
    position: relative;
    margin-left: 40px;
  }
  
  .chart-legend .gray:before {
    top: 2px;
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: -20px;
    background-color: var(--gray)
  }
  
  .chart-legend .dark:before {
    top: 2px;
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: -20px;
    background-color: var(--dark)
  }
  
  .chart-legend .dark:before {
    top: 2px;
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: -20px;
    background-color: var(--dark)
  }
  
  .chart-legend .lavender {
    float: right;
    position: relative;
    margin-left: 40px;
  }
  
  .chart-legend .lavender:before {
    top: 2px;
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: -20px;
    background-color: var(--lavender)
  }
  