.document-download li {
  width: 28px;
  height: 28px;
  float: left;
  margin-right: 10px;
}

.document-download li.download-pdf {
  background-color: var(--red);
  border-radius: 50%;
}

.document-download li.download-pdf .icon {
  padding: 7px;
  font-size: 15px;
  color: var(--white);
  position: absolute;
}

.document-download li.send-email {
  background-color: var(--primary);
  border-radius: 50%;
}

.document-download li.send-email .icon {
  padding: 7px;
  font-size: 14px;
  position: absolute;
}

.document-download li.send-email .icon:before {
  color: var(--white);
}

.document-uploaded {
  float: left;
}

.document-uploaded .icon {
  font-size: 34px;
  float: left;
  border-radius: 50%;
}

.document-uploaded .document-name {
  font-size: 14px;
  padding-left: 5px;
  color: var(--white);
  padding: 6px 10px;
  display: inline-block;
}

.document-uploaded .icon-download-powerpoint {
  background-color: #cc644b;
}

.document-uploaded .icon-download-excel {
  background-color: var(--green);
}

.document-uploaded li {
  background-color: var(--bluewood);
  border-radius: 30px;
  padding: 5px;
  float: left;
  margin: 0 10px 5px 0;
}

.document-uploaded li a {
  color: var(--white) !important;
}

.document-uploaded li:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--white);
}

.document-uploaded li:hover a {
  color: var(--white) !important;
}

.download-in-progress {
  width: 1000px;
}

.modal-window .document-uploaded {
  position: absolute;
  top: 18px;
  width: 170px;
}
