/* Release Student */
.release-student .nestable {
  border: 1px solid var(--gray);
  border-radius: 8px;
  overflow: hidden;
  padding: 15px;
}

.release-student .nestable>.nestable-list {
  overflow: scroll;
  height: 360px;
}

.release-student .nestable .nestable-handle {
  padding-left: 10px;
}

.release-student .add-remove-buttons .button {
  width: 100%;
}

.release-student .add-remove-buttons .button>span {
  width: 100%;
  text-align: center;
}

.release-student .add>.icon {
  transform: rotate(-90deg);
  position: absolute;
  right: 5px;
  left: auto;
  top: auto;
  bottom: auto;
}

.release-student .add>.icon:before {
  color: var(--white);
}

.release-student .remove>.icon {
  transform: rotate(90deg);
  position: absolute;
  right: auto;
  left: 5px;
  top: auto;
  bottom: auto;
}

.release-student .remove>.icon:before {
  color: var(--white);
}

.release-student .add-remove-buttons {
  margin: auto;
  top: calc(50% - 40px);
  position: relative;
}

.release-student .release {
  float: right;
  margin-left: 10px !important;
}

.release-student .reset {
  float: right;
  margin-left: 10px !important;
}

.release-student .action-buttons {
  float: right;
  flex: auto;
}

/*
  * Style for nestable
  */
.nestable {
  position: relative;
  height: 100%;
  overflow: scroll;
  padding: 15px 0 30px 15px;
}

.nestable-rtl {
  direction: rtl;
}

.nestable .nestable-list {
  margin: 0;
  padding: 0 0 0 40px;
  list-style-type: none;
}

.nestable-rtl .nestable-list {
  padding: 0 40px 0 0;
}

.nestable>.nestable-list {
  padding: 0;
  overflow: scroll;
  height: 100%;
  padding-right: 10px;
}

.nestable-item,
.nestable-item-copy {
  margin: 10px 0 0;
}

.nestable-item:first-child,
.nestable-item-copy:first-child {
  margin-top: 0;
}

.nestable-item .nestable-list,
.nestable-item-copy .nestable-list {
  margin-top: 10px;
}

.nestable-item {
  position: relative;
}

.nestable-item.is-dragging .nestable-list {
  pointer-events: none;
}

.nestable-item.is-dragging * {
  opacity: 0;
  filter: alpha(opacity=0);
}

.nestable-item.is-dragging:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  border: 1px dashed var(--gray);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.nestable-drag-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
}

.nestable-rtl .nestable-drag-layer {
  left: auto;
  right: 0;
}

.nestable-drag-layer>.nestable-list {
  position: absolute;
  padding: 5px;
  border: 5px solid transparent;
  border-radius: 5px;
  top: 0;
  left: 0;
  padding: 0;
  background-color: rgba(43, 140, 202, 0.15);
}

.nestable-rtl .nestable-drag-layer>.nestable-list {
  padding: 0;
}

.nestable [draggable="true"] {
  cursor: move;
}

.nestable-handle {
  display: inline-block;
  line-height: 1.6;
  width: calc(100% - 30px);
}

.nestable-handle>.icon {
  font-size: 16px;
  font-weight: bold;
}

.nestable-item-content {
  padding: 7px 5px;
  border-radius: 5px;
  border: 1px solid var(--gray);
  background: var(--background);
  top: 7px;
}

.nestable-item-content .icon:before {
  color: var(--bluewood);
}

.nestable-item .card-box-api {
  color: var(--white);
  background-color: var(--primary);
  border-radius: 15px;
  padding: 4px 9px;
  font-size: 10px;
  font-weight: 300;
  margin-left: 3px;
  text-transform: lowercase;
}
