/*
UI Elements
*/
.el-pagination {
  padding: 20px 0 !important;
  float: right;
}

.el-pagination .el-icon-arrow-left {
  transform: rotate(90deg);
  position: relative;
}

.el-pagination .el-icon-arrow-right {
  transform: rotate(-90deg);
  position: relative;
}


.el-pagination .el-icon-arrow-left:before {
  content: "\e901";
  color: var(--dark);
}

.el-pagination .el-icon-arrow-right:before {
  content: "\e901";
  color: var(--dark)
}
