.pmf-report {
	.download-text {
		padding: 3px 10px;
		white-space: nowrap;
		width: 230px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.download-pmf {
	.nestable {
		>.nestable-list {
			padding-right: 0;
			display: inline-table;
			width: 100%;
		}
		display: inline-table;
		width: 100%;
		padding: 0;
	}
	.modal-content {
		overflow-x: hidden;
		overflow-y: scroll;
	}
	.left-menu {
		.element {
			position: absolute;
			right: 10px;
			margin: auto;
			top: 0;
			bottom: 0;
		}
		.element-title {
			float: left;
			padding-right: 45px;
			padding-left: 5px;
			width: 100%;
			line-height: 1.5;
			padding-top: 5px;
		}
	}
	.right-menu {
		.element {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			left: 10px;
		}
		.element-title {
			float: left;
			padding-left: 45px;
			width: 100%;
			line-height: 1.25;
			padding-top: 5px;
		}
	}
}
.pmf-download-modal {
	.modal-content {
		padding-top: 0;
	}
}
