.search-box {
  text-align: left;
  float: left;
  position: absolute !important;
  top: 2px;
  right: 0;
}

.search-box .icon {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--tertiary);
  border-radius: 50%;
  padding: 12px;
  font-size: 16px;
  height: 40px;
  width: 40px;
}

.search-box .icon+input {
  width: 0;
  transition: width 0.5s;
}

.search-box .icon.active+input {
  transition: width 0.5s;
  width: 220px;
  background-color: var(--primary);
}

.search-box .icon:hover {
  cursor: pointer;
  opacity: 0.85;
}

.search-box input {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 20px;
  border: 0 none;
  height: 40px;
  text-indent: 30px;
  padding: 0 20px 0 20px;
}

.search-box input:focus {
  outline: 0;
  background-color: var(--secondary)
}

.search-box input::placeholder {
  color: var(--white);
  font-size: 15px
}

.search-select {
  margin-bottom: 15px;
}

.search-results {
  margin-bottom: 20px;
}

.search-results .card-box {
  padding: 0;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.search-results .ed_card-boxes {
  margin-top: 10px;
}

.search-results .ed_card-boxes .card-title {
  margin-bottom: 0;
  overflow: hidden;
  padding-left: 10%;
  color: var(--white);
  height: 60px;
  background: var(--primary);
  background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%)
}

.search-results .ed_card-boxes .card-title h2 {
  max-width: 85%;
  line-height: 1.25;
  float: left;
  margin-top: 20px;
  font-size: 21px;
  font-weight: 700;
}

.search-results .ed_card-boxes .card-element {
  position: absolute;
  top: 200px;
  left: 36px;
  width: 80px;
}

.search-results .ed_card-boxes .card-element>span {
  margin: 0 5px;
}

.search-results .ed_card-boxes .edit-search {
  float: right;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  z-index: 5;
  font-size: 14px;
  background-color: var(--green);
  margin: 5px 5px 5px 0;
}

.search-results .ed_card-boxes .delete-search .icon-delete:before {
  color: var(--white);
}

.search-results .ed_card-boxes .delete-search .icon-delete {
  top: 6px;
}

.search-results .ed_card-boxes .delete-search {
  float: right;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  z-index: 5;
  font-size: 14px;
  background-color: var(--red);
  margin: 5px 5px 5px 0;
}

.search-results .ed_card-boxes .edit-search .icon-edit:before {
  color: var(--white);
}

.search-results .ed_card-boxes .edit-search .icon-edit {
  top: 6px;
}

.search-results .ed_card-boxes .card-content {
  padding-left: 15px;
}

.search-results .ed_card-boxes .card-content ul {
  display: block;
  float: left;
  width: 100%;
  padding: 0;
}

.search-results .ed_card-boxes .card-content ul>li {
  border-bottom: 0;
  padding: 8px 0 8px 5%;
  font-weight: 700;
  font-size: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 100%;
}

.search-results .ed_card-boxes .card-content ul>li>h3 {
  font-size: 15px;
  margin: 0;
  padding: 5px 5px 5px 0;
  width: 40%;
  position: relative;
}

.search-results .ed_card-boxes .card-content ul>li>h3:after {
  background: var(--lightgray);
  height: 1px;
  width: 30px;
  position: absolute;
  content: '';
  top: 20px;
  right: 10px;
}

.search-results .ed_card-boxes .card-content .card-picture {
  float: left;
  width: 128px;
  display: flex;
  height: 128px;
  border-radius: 50%;
  position: relative;
  top: 10px;
  background-color: var(--lightgray);
}

.search-results .ed_card-boxes .card-content figcaption {
  display: flex;
}


.search-results .el-select {
  margin-bottom: 10px;
}

.search-results .search-by {
  padding-left: 10px;
}

.search-results .el-input .icon-search {
  color: var(--white);
}

.search-results .el-input .el-button {
  background-color: var(--primary);
  outline: none;
}

.search-results.avatar-view-search .student-list-preview {
  position: absolute;
  left: 7px;
  top: -7px;
}

.search-results.avatar-view-search .student-list-edit {
  position: absolute;
  right: 6px;
}

.search-results .no-results {
  text-align: center;
  padding: 50px 0;
  width: 100%;
}

.search-results .card-element .icon-edit {
  width: 30px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  padding: 7px;
  font-size: 14px;
  background-color: var(--green);
  right: 0;
  position: relative;
}

.search-results .card-element .icon-edit:before {
  color: var(--white);
}

.search-results .card-element .icon-eye {
  width: 30px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  padding: 4px;
  font-size: 20px;
  background-color: var(--green);
  position: relative;
  top: 3px;
}
