/* SIDE MENU */
.side-menu-header {
  padding: 10px;
  max-height: 100px;
  height: 100px;
  border-radius: 30px 0 0 0;
  background: var(--primary);
  background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%)
}

.side-menu.single .side-menu-profile .card-element {
  top: 40px;
}

.side-menu.single .side-menu-options {
  position: relative;
  height: 30px;
  background-color: var(--primary);
}

.side-menu.single .side-menu-options .card-element {
  position: relative;
  top: auto;
  right: auto;
  padding: 3px 0;
}

.side-menu.single .side-menu-options .card-element a {
  color: var(--white);
  font-size: 14px;
  float: right;
  margin-right: 10px;
  padding: 2px;
  display: block;
}

.side-menu.single .side-menu-options .card-element a span {
  margin-left: 5px;
}

.side-menu.single .side-menu-profile .card-element a {
  color: var(--white);
  font-size: 14px;
  padding: 10px;
  float: right;
}

.side-menu.single .side-menu-profile .card-element a span {
  margin-left: 5px;
  color: var(--white);
}

.side-menu.single .side-menu-content {
  background-color: var(--white);
  float: left;
}

.side-menu.single .side-menu-header {
  border-radius: 30px 30px 0 0;
}

.side-menu.single .side-menu-content {
  border: 1px solid var(--gray);
  border-radius: 0 0 15px 15px;
  padding: 15px !important;
}

.side-menu.single .side-menu-content .card-title h2 {
  font-size: 21px;
}

.side-menu.single .side-menu-content .card-content {
  font-size: 14px;
}

.side-menu.single .card-box {
  border-bottom: 1px solid var(--gray);
  padding: 25px 10px 10px 10px;
  position: relative;
  float: left;
  width: 100%;
}

.side-menu .side-menu-header h2 {
  width: calc(100% - 100px);
  margin-bottom: 0;
}

.side-menu.single .card-box:last-child {
  border-bottom: none;
}

.side-menu.single .side-menu-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-menu.single .card-element {
  position: absolute;
  right: 20px;
  top: 20px;
}

.side-menu.single .card-element .edit .icon {
  -webkit-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .37);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .37);
  margin-left: 10px;
  margin-bottom: 10px;
  position: relative;
  width: 30px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  padding: 7px;
  font-size: 14px;
}

.side-menu-header img {
  height: 80px !important;
  display: flex;
  float: left;
  border-radius: 50%;
  border: 2px solid var(--white)
}

.side-menu-header h2 {
  color: var(--white);
  display: inline-block;
  padding-left: 10px;
  line-height: 1.5;
  font-size: 18px
}

.side-menu-content {
  padding: 0 !important;
}

.side-menu-content>ul>li {
  border-bottom: 1px solid var(--lightgray)
}

.side-menu-content>ul>li:last-child {
  border-bottom: none
}

.side-menu-content>ul>li>a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  background-color: var(--bluegray)
}

.side-menu-content>ul>li>a:focus {
  text-decoration: none
}

.side-menu-content>ul>li.active>ul {
  display: flex
}

.side-menu-content>ul>li .icon {
  padding: 7px 12px;
  font-size: 24px;
  justify-content: flex-start
}

.side-menu-content>ul>li .icon.right {
  transform: rotate(-90deg);
  font-size: 12px;
  justify-content: flex-end;
  margin-left: auto
}

.side-menu-content>ul>li p {
  color: var(--dark);
  font-size: 15px;
  justify-content: flex-start;
  margin-bottom: 0;
}

.side-menu-content>ul>li>a>.icon:before {
  color: var(--dark)
}

.side-menu-content>ul>li>a:hover {
  background-color: var(--white);
  text-decoration: none;
  cursor: pointer
}

.side-menu-content>ul>li.active>a>.icon:before,
.side-menu-content>ul>li:hover>a>.icon:before {
  color: var(--primary)
}

.side-menu-content>ul>li.active>a,
.side-menu-content>ul>li:hover>a {
  background-color: var(--white)
}

.side-menu-content>ul>li.active p,
.side-menu-content>ul>li:hover p {
  color: var(--primary)
}

.side-menu-footer {
  padding: 5px 10px;
  display: flex;
  border-radius: 0 0 0 10px;
  background: var(--primary);
  background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%)
}

.side-menu-footer a {
  padding: 10px
}

.side-menu-footer a:hover .icon:before {
  color: var(--primary)
}

.side-menu-footer .left {
  justify-content: flex-start
}

.side-menu-footer .right {
  justify-content: flex-end;
  margin-left: auto
}

.side-menu-footer .icon {
  font-size: 18px
}

ul.side-menu__results {
  display: none;
  width: 200%;
  font-size: 12px;
  z-index: 500;
  text-align: center;
  margin: auto;
  border-radius: 0 10px 10px 0;
  padding: 0;
  float: left;
  padding: 10px;
  position: absolute;
  left: 100%;
  top: 0;
  margin-top: -100px;
  min-height: 354px
}

ul.side-menu__results ul {
  padding: 0
}

ul.side-menu__results li {
  width: 100%;
  list-style-type: none;
  padding: 5px 0;
  text-align: left
}

ul.side-menu__results h2 {
  text-align: left;
  text-align: left;
  font-size: 21px
}

ul.side-menu__results h3 {
  padding: 10px 0;
  text-align: left;
  font-size: 14px
}

ul.side-menu__results>li>ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start
}

ul.side-menu__results>li>ul>li {
  box-sizing: border-box;
  width: 50%
}

ul.side-menu__results>li>ul>li a {
  color: var(--tertiary);
  line-height: 1.25
}

ul.side-menu__results>li>ul>li a:hover {
  color: var(--primary)
}

.side-menu.profile {
  float: left;
  width: 100%;
  display: inline-block;
}

.side-menu.profile .side-menu-profile {
  display: inline-block;
}

.side-menu.profile .side-menu-header {
  display: inline-block;
  max-height: initial !important;
  height: auto;
}

.side-menu.profile {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 30px 30px 15px 15px;
}

.side-menu.profile .edit-profile {
  background: var(--auxiliary);
  position: absolute;
  top: 15px;
  right: 20px;
  width: 36px;
  height: 36px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
  display: inline-block;
  border: none;
  font-size: 16px;
  text-align: center;
}

.side-menu.profile .edit-profile .md-button-content {
  position: initial;
}

.side-menu.profile .edit-profile .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 16px;
  text-align: center;
}

.side-menu.profile .edit-profile .icon:before {
  color: var(--white);
}

.side-menu.profile img {
  height: auto !important;
  max-height: 150px;
  margin: 0 auto;
  display: block;
  float: initial;
}

.side-menu.profile .side-menu-header h2 {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  line-height: 1.25;
  font-size: 15px;
}
