/* SIDE MENU */
.side-menu-header {
	padding: 10px;
	max-height: 100px;
	height: 100px;
	border-radius: 30px 0 0 0;
	background: var(--primary);
	background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
	background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
	background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%);
	img {
		height: 80px !important;
		display: flex;
		float: left;
		border-radius: 50%;
		border: 2px solid var(--white);
	}
	h2 {
		color: var(--white);
		display: inline-block;
		padding-left: 10px;
		line-height: 1.5;
		font-size: 18px;
	}
}
.side-menu.single {
	.side-menu-profile {
		.card-element {
			top: 40px;
			a {
				color: var(--white);
				font-size: 14px;
				padding: 10px;
				float: right;
				span {
					margin-left: 5px;
					color: var(--white);
				}
			}
		}
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.side-menu-options {
		position: relative;
		height: 30px;
		background-color: var(--primary);
		.card-element {
			position: relative;
			top: auto;
			right: auto;
			padding: 3px 0;
			a {
				color: var(--white);
				font-size: 14px;
				float: right;
				margin-right: 10px;
				padding: 2px;
				display: block;
				span {
					margin-left: 5px;
				}
			}
		}
	}
	.side-menu-content {
		background-color: var(--white);
		float: left;
		border: 1px solid var(--gray);
		border-radius: 0 0 15px 15px;
		padding: 15px !important;
		.card-title {
			h2 {
				font-size: 21px;
			}
		}
		.card-content {
			font-size: 14px;
		}
	}
	.side-menu-header {
		border-radius: 30px 30px 0 0;
	}
	.card-box {
		border-bottom: 1px solid var(--gray);
		padding: 25px 10px 10px 10px;
		position: relative;
		float: left;
		width: 100%;
		&:last-child {
			border-bottom: none;
		}
	}
	.card-element {
		position: absolute;
		right: 20px;
		top: 20px;
		.edit {
			.icon {
				-webkit-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .37);
				box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .37);
				margin-left: 10px;
				margin-bottom: 10px;
				position: relative;
				width: 30px;
				height: auto;
				-o-object-fit: cover;
				object-fit: cover;
				border-radius: 50%;
				padding: 7px;
				font-size: 14px;
			}
		}
	}
}
.side-menu {
	.side-menu-header {
		h2 {
			width: calc(100% - 100px);
			margin-bottom: 0;
		}
	}
}
.side-menu-content {
	padding: 0 !important;
	>ul {
		>li {
			border-bottom: 1px solid var(--lightgray);
			&:last-child {
				border-bottom: none;
			}
			>a {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding: 15px;
				background-color: var(--bluegray);
				&:focus {
					text-decoration: none;
				}
				>.icon {
					&:before {
						color: var(--dark);
					}
				}
				&:hover {
					background-color: var(--white);
					text-decoration: none;
					cursor: pointer;
				}
			}
			.icon {
				padding: 7px 12px;
				font-size: 24px;
				justify-content: flex-start;
			}
			.icon.right {
				transform: rotate(-90deg);
				font-size: 12px;
				justify-content: flex-end;
				margin-left: auto;
			}
			p {
				color: var(--dark);
				font-size: 15px;
				justify-content: flex-start;
				margin-bottom: 0;
			}
			&:hover {
				>a {
					>.icon {
						&:before {
							color: var(--primary);
						}
					}
					background-color: var(--white);
				}
				p {
					color: var(--primary);
				}
			}
		}
		>li.active {
			>ul {
				display: flex;
			}
			>a {
				>.icon {
					&:before {
						color: var(--primary);
					}
				}
				background-color: var(--white);
			}
			p {
				color: var(--primary);
			}
		}
	}
}
.side-menu-footer {
	padding: 5px 10px;
	display: flex;
	border-radius: 0 0 0 10px;
	background: var(--primary);
	background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
	background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
	background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%);
	a {
		padding: 10px;
		&:hover {
			.icon {
				&:before {
					color: var(--primary);
				}
			}
		}
	}
	.left {
		justify-content: flex-start;
	}
	.right {
		justify-content: flex-end;
		margin-left: auto;
	}
	.icon {
		font-size: 18px;
	}
}
ul.side-menu__results {
	display: none;
	width: 200%;
	font-size: 12px;
	z-index: 500;
	text-align: center;
	margin: auto;
	border-radius: 0 10px 10px 0;
	padding: 0;
	float: left;
	padding: 10px;
	position: absolute;
	left: 100%;
	top: 0;
	margin-top: -100px;
	min-height: 354px;
	ul {
		padding: 0;
	}
	li {
		width: 100%;
		list-style-type: none;
		padding: 5px 0;
		text-align: left;
	}
	h2 {
		text-align: left;
		text-align: left;
		font-size: 21px;
	}
	h3 {
		padding: 10px 0;
		text-align: left;
		font-size: 14px;
	}
	>li {
		>ul {
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			>li {
				box-sizing: border-box;
				width: 50%;
				a {
					color: var(--tertiary);
					line-height: 1.25;
					&:hover {
						color: var(--primary);
					}
				}
			}
		}
	}
}
.side-menu.profile {
	float: left;
	width: 100%;
	display: inline-block;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	border-radius: 30px 30px 15px 15px;
	.side-menu-profile {
		display: inline-block;
	}
	.side-menu-header {
		display: inline-block;
		max-height: initial !important;
		height: auto;
		h2 {
			padding: 10px 0;
			width: 100%;
			text-align: center;
			line-height: 1.25;
			font-size: 15px;
		}
	}
	.edit-profile {
		background: var(--auxiliary);
		position: absolute;
		top: 15px;
		right: 20px;
		width: 36px;
		height: 36px;
		padding: 10px;
		margin-right: 10px;
		border-radius: 50%;
		display: inline-block;
		border: none;
		font-size: 16px;
		text-align: center;
		.md-button-content {
			position: initial;
		}
		.icon {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			height: 16px;
			text-align: center;
			&:before {
				color: var(--white);
			}
		}
	}
	img {
		height: auto !important;
		max-height: 150px;
		margin: 0 auto;
		display: block;
		float: initial;
	}
}
