.student-details .side-menu-profile {
    width: 100%;
  }
  
  .student-details .side-menu__results {
    width: 100%;
  }
  
  .student-details .side-menu__results .el-tabs {
    width: 100%;
    padding: 0 15px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
  
  .student-details .side-menu__results .card-box {
    padding: 0;
    margin-top: 0;
    margin: 0;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  
  .student-details .profile-list li {
    padding: 10px;
  }
  
  .student-details .profile-list li:nth-child(odd) {
    background-color: var(--bluegray);
  }
  
  .student-details .profile-list li span {
    float: right;
    font-size: 14px;
    color: var(--primary);
  }
  
  .student-details .student-details-behaviour {
    margin: 0 15px;
  }
  
  .student-details .student-details-behaviour .student-list-preview>.icon {
    width: 30px;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    padding: 4px;
    font-size: 20px;
    background-color: var(--green);
    position: relative;
    right: 10px;
    top: 4px;
  }
  
  .student-details .student-details-behaviour .student-list-preview {
    float: left;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    position: relative;
  }
  
  .student-details .student-details-behaviour .student-list-preview>.icon:before {
    color: var(--white);
  }
  
  .student-details .side-menu-header h2 {
    font-size: 18px !important;
  }
  
  .student-details .side-menu-content .card-box {
    padding: 0;
  }
  
  .student-details .side-menu-content .card-content button {
    width: 100%;
  }
  
  .student-details .side-menu-content .card-content button .icon {
    padding: 5px;
    font-size: 15px;
  }
  
  .student-details .side-menu-content .card-content button>span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  
  .student-details.modal-window .modal-content {
    padding: 30px 20px;
  }
  
  .student-details.modal-window .modal-content>div {
    min-width: 840px;
  }
  
  .student-details.modal-window .profile-list {
    padding: 0;
  }
  
  .student-details.modal-window .profile-list li {
    height: 100px;
    font-size: 14px;
  }
  
  .student-details.modal-window .profile-list li span {
    font-size: 12px;
  }
  
  .student-details.modal-window .profile-list .center {
    text-align: center;
    width: 100%;
  }
  
  .student-details.modal-window .profile-list>h2 {
    position: absolute;
    top: -20px;
    font-size: 14px;
    left: 10px;
  }
  
  .student-details .line-chart-performance {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    padding: 0 15px;
  }
  
  .student-details .line-chart-performance h2 {
    font-size: 18px;
    text-align: center;
  }
  
  .student-details .line-chart-performance #line-chart {
    height: 220px;
    min-height: 220px;
  }
  
  .student-details .performance-button {
    width: 100%;
  }
  
  .student-details .attendance {
    margin-bottom: 20px;
  }
  
  .student-details .attendance ul li {
    border-bottom: 0;
  }
  
  .student-details .attendance ul li:nth-child(odd) {
    background-color: var(--bluegray);
  }
  
  .student-details .attendance .card-title {
    font-size: 15px;
    line-height: 1;
    padding: 10px 15px;
    margin-bottom: 0;
  }
  
  .student-details .attendance .card-content ul li {
    position: relative;
    padding: 10px 15px;
  }
  
  .student-details .attendance .card-content ul li h3 {
    font-size: 14px;
    width: 100%;
    position: relative;
    margin-bottom: 0;
  }
  
  .student-details .attendance .card-content ul li h3:after {
    background: var(--lightgray);
    height: 1px;
    width: 30px;
    position: absolute;
    content: '';
    top: 8px;
    right: 10px;
  }
  
  .student-details .attendance .card-content ul li span {
    font-size: 14px;
    width: 50%;
    position: relative;
  }
  
  .student-details .attendance .card-box .icon {
    position: absolute;
  }
  
  .student-details .attendance .card-box {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    min-height: 160px;
  }
  
  .student-details .abssence-reason-table {
    margin-top: 25px;
  }
  
  .student-details .abssence-reason-table h2 {
    font-size: 18px;
  }
  
  .student-details .side-menu.profile {
    margin-bottom: 20px;
  }
  
  .student-details .el-table {
    padding: 0;
  }
  
  .student-details .abssence-reason-table #line-chart {
    min-height: 300px;
  }
  
  /* STUDENT BEHAVIOUR */
  .student-behaviour-preview {
    background-color: var(--white) !important;
    margin-top: 40px;
    border: 1px solid var(--gray) !important;
  }
  
  .student-behaviour-table {
    border: 1px solid var(--gray);
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .student-behaviour-table ul li:last-child {
    border-radius: 0 0 10px 10px;
  }
  
  .student-behaviour-table .profile-list {
    overflow: hidden;
    border-radius: 8px;
  }
  