.student-report .el-table {
    margin: 0 15px 15px 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .student-report .student-report-title {
    font-size: 24px;
    color: var(--primary);
  }
  
  .student-report .student-report-subtitle {
    font-size: 21px;
    color: var(--tertiary);
  }
  
  .student-report .student-report-header {
    background: var(--primary);
    background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
    background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
    background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%);
    color: var(--white);
    padding: 10px;
    border-radius: 10px 10px 0 0;
  }
  
  .student-report .student-report-footer {
    background: var(--primary);
    background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
    background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
    background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%);
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    text-align: right;
    margin-bottom: 30px;
  }
  
  .student-report #line-chart {
    height: 400px;
  }
  
  .student-report .student-report-chart-table {
    margin: 0 0 20px 0;
  }
  
  .student-report .student-report-header.inside {
    margin-top: 20px !important;
  }
  
  .student-report .student-information {
    padding: 0 15px 25px 15px;
  }
  
  .student-report .card-box {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    margin: 0 0 20px 0;
    border-radius: 0 0 10px 10px;
  }
  
  .student-report.progress-report {}
  
  .student-report.progress-report .el-table {
    border-radius: 0;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-radius: 0 !important;
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  
  .student-report.progress-report .el-table .el-table__header-wrapper table tr th:first-child {
    padding-left: 20px;
  }
  
  .student-report.progress-report .el-table .el-table__body-wrapper table tr td:first-child {
    padding-left: 20px;
  }
  
  .student-report.progress-report .table-row:last-child .el-table {
    border-radius: 0 0 8px 8px !important;
    margin-bottom: 20px !important;
    border-bottom: 1px solid var(--gray);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  
  .student-report.progress-report .report-table-header {
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    float: left;
    text-indent: 15px;
    padding: 10px 15px;
    margin: 0 15px;
    width: 100%;
    max-width: calc(100% - 30px);
    background-color: var(--bluegray);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  
  .student-report.progress-report .skills {
    width: 100%;
    height: 80px;
    margin: auto;
    position: relative;
  }
  
  .student-report.progress-report .skills.integer {
    height: 50px;
  }
  
  .student-report.progress-report .lines {
    height: 80%;
    position: relative;
  }
  
  .student-report.progress-report .line {
    height: inherit;
    width: 2px;
    position: absolute;
    background: rgba(238, 238, 238, 0.6);
  }
  
  .student-report.progress-report .line.l--0 {
    left: 0;
  }
  
  .student-report.progress-report .line.l--25 {
    left: 25%;
  }
  
  .student-report.progress-report .line.l--50 {
    left: 50%;
  }
  
  .student-report.progress-report .line.l--75 {
    left: 75%;
  }
  
  .student-report.progress-report .line.l--100 {
    left: calc(100% - 1px);
  }
  
  .student-report.progress-report .line__label {
    display: block;
    width: 100px;
    font-size: 8px;
    text-align: center;
    position: absolute;
    bottom: -20px;
    right: -50px;
    color: var(--gray)
  }
  
  .student-report.progress-report .line__label.title {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .student-report.progress-report .charts {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  .student-report.progress-report .charts.double .chart__bar {
    height: 25px;
    margin-bottom: 0;
  }
  
  .student-report.progress-report .charts.double .chart__bar.strong .chart__label {
    font-size: 15px;
    left: 22px;
    position: relative;
    bottom: 1px;
  }
  
  .student-report.progress-report .charts.double .charts-empty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--gray);
    height: 50px;
    font-size: 16px;
  }
  
  .student-report.progress-report .chart:not(:first-child) {
    margin-top: 10px;
  }
  
  .student-report.progress-report .chart__title {
    display: block;
    margin: 0 0 10px;
    font-weight: bold;
    opacity: 0;
    animation: 0s anim-lightspeed-in ease forwards;
  }
  
  .student-report.progress-report .chart--prod .chart__title {
    animation-delay: 3.3s;
  }
  
  .student-report.progress-report .chart--design .chart__title {
    animation-delay: 4.5s;
  }
  
  .student-report.progress-report .chart--horiz {
    overflow: hidden;
  }
  
  .student-report.progress-report .chart.chart--dev {
    position: relative;
    top: 10px;
  }
  
  .student-report.progress-report .chart__bar {
    height: 30px;
    margin-bottom: 10px;
    background: var(--tertiary);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
    animation: 0s anim-lightspeed-in ease forwards;
    width: 0;
  }
  
  .student-report.progress-report .chart__bar.blue {
    background: var(--tertiary) !important;
  }
  
  .student-report.progress-report .chart__bar.green {
    background: var(--green) !important;
  }
  
  .student-report.progress-report .chart__bar.gray {
    background: var(--gray) !important;
  }
  
  .student-report.progress-report .chart__bar.dark {
    background: var(--dark) !important;
  }
  
  .student-report.progress-report .chart__bar.lavender {
    background: var(--lavender) !important;
  }
  
  .student-report.progress-report .chart__label {
    padding-left: 5px;
    font-size: 11px;
    line-height: 30px;
    float: right;
    color: var(--dark);
    margin-right: -40px;
  }
  
  .student-report.progress-report .chart__label.no-data {
    width: 200px;
    float: left;
    text-align: center;
    color: var(--gray);
    font-size: 15px;
  }
  
  .student-report.progress-report .double-bar .skills .no-data {
    margin-top: -8px;
  }
  
  .student-report.progress-report .chart__label.integer {
    margin-right: -20px;
  }
  
  .student-report.progress-report.half {
    width: 50%;
    float: left;
    margin: 0;
  }
  
  .student-report.progress-report.half .double-bar .skills {
    height: 110px;
  }
  
  .student-report.progress-report .double-bar .skills {
    height: 110px;
  }
  
  .student-report.progress-report .document-uploaded {
    margin-bottom: 5px !important;
  }
  
  .modal-window .student-report.progress-report {
    overflow-y: scroll;
    padding-top: 80px;
  }
  