.teacher-profile>div {
    padding: 10px 0 !important;
  }
  
  .teacher-profile .profile {
    margin-bottom: 15px;
  }
  
  .teacher-modal .modal-content {
    min-width: 290px;
  }
  
  .teacher-modal .modal-content img {
    width: 150px;
    height: auto;
    margin: 0 auto;
  }
  
  .teacher-profile .side-menu.profile .side-menu-header {
    border-radius: 30px 30px 15px 15px;
  }
  