.user-profile {
    flex-basis: 190px;
    flex-shrink: 0;
    display: flex;
    position: relative;
    max-width: 190px;
    float: left
  }
  
  .user-profile .profile-tag {
    float: right;
    right: 30px;
    cursor: pointer;
    top: 0;
    padding: 6px 10px;
    height: 60px
  }
  
  .user-profile .profile-tag img {
    max-height: 44px;
    width: auto;
    border: 2px solid var(--white);
    border-radius: 50%
  }
  
  .user-profile .profile-tag img:first-child {
    margin-right: 10px;
    float: left
  }
  
  .user-profile .profile-tag span {
    color: var(--white);
    margin-top: 13px;
    font-size: 18px;
    font-weight: medium;
    display: inline-block
  }
  
  .user-profile .profile-tag img:last-child {
    width: 14px;
    margin-bottom: -2px;
    height: auto;
    object-fit: cover;
    text-align: right;
    margin-left: 20px
  }
  
  .user-profile .profile-tag .icon {
    padding: 5px;
    font-size: 14px
  }
  
  .user-profile:hover .user-menu {
    opacity: 1;
    z-index: 1111
  }
  
  .user-menu ul li:last-child {
    border-radius: 0 0 0 8px;
  }
  
  .user-profile .user-menu {
    border-radius: 0 0 0 8px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  
  
  .user-menu ul li:last-child {
    border-radius: 0 0 0 8px;
  }
  
  .user-profile .user-menu {
    border-radius: 0 0 0 8px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  
  .user-menu {
    position: absolute;
    right: 0;
    top: 60px;
    opacity: 0;
    z-index: -1;
    transition: all .25 ease-in-out
  }
  
  .user-menu a>.icon {
    padding: 5px;
    margin-right: 5px;
  }
  
  .user-menu a>.icon:before {
    color: var(--bluewood)
  }
  
  .user-menu ul li {
    display: block;
    background-color: var(--white);
    width: 100%;
    padding: 8px 0;
    transition: all .25 ease-in-out;
    border-bottom: 1px solid var(--lightgray)
  }
  
  .user-menu ul li:hover {
    background-color: var(--bluegray)
  }
  
  .user-menu ul li a {
    color: var(--bluewood);
    display: block;
    padding: 20px;
    font-size: 14px;
    padding: 5px 20px;
    font-weight: 500;
    text-decoration: none
  }
  
  .user-menu ul li a span {
    color: var(--bluewood);
  }
  
  .user-menu ul li a:hover {
    color: var(--bluewood);
  }
  
  .user-menu ul li img {
    margin-bottom: -2px;
    width: 16px;
    margin-right: 10px;
    height: auto;
    object-fit: cover
  }
  
  .main-menu {
    display: flex;
    float: left;
    flex-grow: 1
  }
  