a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

a,
a:active,
a:hover {
  text-decoration: none !important;
  color: var(--white)
}

dl, ol, ul {
  margin-bottom: 0 !important;
}

:root {
  --primary: #02609B !important;
  --secondary: #025589 !important;
  --tertiary: #0799F5 !important;
  --auxiliary: #2980b9 !important;
  --bluegray: #f1f9ff !important;
  --white: #fff !important;
  --background: #f8f9fa !important;
  --gray: #ccc !important;
  --lightgray: #E2E6EB !important;
  --oslogray: #7f8c8d !important;
  --mediumgray: #777 !important;
  --dark: #333 !important;
  --black: #000 !important;
  --red: #C0392B !important;
  --green: #16A085 !important;
  --bluewood: #34495e !important;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../../assets/fonts/Sfprotext/sfprotext-regular.ttf) format("truetype");
  src: url(../../assets/fonts/Sfprotext/sfprotext-semibold.ttf) format("truetype");
  src: url(../../assets/fonts/Sfprotext/sfprotext-bold.ttf) format("truetype")
}

h1 {
  font-size: 24px
}

h2 {
  font-size: 21px
}

h3 {
  font-size: 18px
}

h4 {
  font-size: 16px
}

h5 {
  font-size: 14px
}

h6 {
  font-size: 12px
}

@font-face {
  font-family: icomoon;
  src: url(../../assets/icons/icomoon/icomoon.eot?j3btqh);
  src: url(../../assets/icons/icomoon/icomoon.eot?j3btqh#iefix) format('embedded-opentype'), url(../../assets/icons/icomoon/icomoon.woff2?j3btqh) format('woff2'), url(../../assets/icons/icomoon/icomoon.ttf?j3btqh) format('truetype'), url(../../assets/icons/icomoon/icomoon.woff?j3btqh) format('woff'), url(../../assets/icons/icomoon/icomoon.svg?j3btqh#icomoon) format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block
}

.thin {
  font-weight: 100
}

.light {
  font-weight: 300
}

.regular {
  font-weight: 400
}

.medium {
  font-weight: 500
}

.semibold {
  font-weight: 600
}

.bold {
  font-weight: 700
}

.black {
  font-weight: 900
}

.italic {
  font-style: italic
}

[class*=" icon-"],
[class^=icon-] {
  font-family: icomoon!important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-logout:before {
  content: "\e923";
  color: var(--white)
}

.icon-follow:before {
  content: "\e922";
  color: var(--white)
}

.icon-add-lesson:before {
  content: "\e920";
  color: var(--white)
}

.icon-lesson:before {
  content: "\e921";
  color: var(--white)
}

.icon-students:before {
  content: "\e91f";
  color: var(--white)
}

.icon-arrow:before {
  content: "\e900";
  color: var(--white)
}

.icon-arrow-gray:before {
  content: "\e901";
  color: var(--mediumgray)
}

.icon-attendence:before {
  content: "\e902";
  color: var(--white)
}

.icon-box-confirm:before {
  content: "\e903";
  color: var(--white)
}

.icon-box-layers:before {
  content: "\e904";
  color: var(--white)
}

.icon-box-plan:before {
  content: "\e905";
  color: var(--white)
}

.icon-box-profile:before {
  content: "\e906";
  color: var(--white)
}

.icon-box-student:before {
  content: "\e907";
  color: var(--white)
}

.icon-btn-arrow:before {
  content: "\e908";
  color: var(--white)
}

.icon-classroom:before {
  content: "\e909";
  color: var(--white)
}

.icon-confirm:before {
  content: "\e90a";
  color: var(--white)
}

.icon-delete:before {
  content: "\e90b";
  color: var(--red)
}

.icon-dots:before {
  content: "\e90c";
  color: var(--gray)
}

.icon-edit:before {
  content: "\e90d";
  color: var(--green)
}

.icon-home:before {
  content: "\e90e";
  color: var(--white)
}

.icon-layers:before {
  content: "\e90f";
  color: var(--white)
}

.icon-location:before {
  content: "\e910";
  color: var(--white)
}

.icon-mail:before {
  content: "\e911";
  color: var(--gray)
}

.icon-manage:before {
  content: "\e912";
  color: var(--white)
}

.icon-m-notification:before {
  content: "\e913";
  color: var(--mediumgray)
}

.icon-m-off:before {
  content: "\e914";
  color: var(--mediumgray)
}

.icon-m-password:before {
  content: "\e915";
  color: var(--mediumgray)
}

.icon-m-profile:before {
  content: "\e916";
  color: var(--mediumgray)
}

.icon-m-settings:before {
  content: "\e917";
  color: var(--white)
}

.icon-pass:before {
  content: "\e918";
  color: var(--gray)
}

.icon-plan:before {
  content: "\e919";
  color: var(--white)
}

.icon-profile:before {
  content: "\e91a";
  color: var(--white)
}

.icon-reports:before {
  content: "\e91b";
  color: var(--white)
}

.icon-search:before {
  content: "\e91c";
  color: var(--white)
}

.icon-settings:before {
  content: "\e91d";
  color: var(--white)
}

.icon-student:before {
  content: "\e91e";
  color: var(--white)
}

.card-boxes .card-box {
  border-radius: 8px;
  background-color: var(--white);
  margin-bottom: 20px;
  padding: 30px 0 40px 50px;
  margin-top: 0;
  margin: 1%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .06)
}

.card-boxes .card-title {
  font-size: 20px;
  height: 40px
}

.card-boxes .card-title h2 {
  max-width: 85%;
  line-height: 1.2;
  font-size: 22px
}

.card-boxes .card-box>a {
  font-size: .875em;
  color: var(--black);
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: var(--tertiary);
  line-height: 1.3em
}

.card-boxes .card-box .icon {
  position: relative;
  width: 30px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  padding: 7px;
  font-size: 14px
}

.card-boxes .card-box .profile-tag {
  background-color: var(--bluegray);
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
  border: 1px solid var(--lightgray);
  position: relative;
  top: -8px;
  height: 44px;
  line-height:1;
}

.card-boxes .card-box .profile-tag>span {
  color: var(--black);
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700
}

.card-boxes .card-box .profile-tag>.icon {
  margin-bottom: -3px;
  font-size: 10px;
  right: -7px
}

.card-boxes .card-box .user-menu {
  background-color: var(--primary);
  border-radius: 15px;
  padding: 15px 0;
  margin-top: 0;
  right: 30px;
  width: 200px;
  top: 33px!important;
  right: 76px!important
}

.card-boxes .card-box .user-menu li {
  padding: 5px 0;
  background-color: transparent;
  border: none
}

.card-boxes .card-box .user-menu ul {
  border-bottom: 1px solid var(--auxiliary)
}

.card-boxes .card-box .user-menu ul:last-child {
  border: none
}

.card-boxes .card-box .user-menu li:hover {
  background-color: var(--auxiliary)
}

.card-boxes .card-box .user-menu li>a {
  color: var(--white)
}

.card-boxes .select {
  position: absolute;
  right: 10px
}

.card-boxes .select .icon {
  font-size: 21px
}

.card-boxes .delete .icon,
.card-boxes .edit .icon {
  -webkit-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .37);
  -moz-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .37);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .37);
  margin-left: 10px;
  margin-bottom: 10px
}

.card-boxes .delete .icon:hover,
.card-boxes .edit .icon:hover,
.card-boxes .location .icon:hover {
  opacity: .8
}

.card-boxes .location {
  width: 30px;
  height: 30px;
  float: left
}

.card-boxes .location .icon {
  background-color: var(--auxiliary)
}

.card-boxes .d-flex .card-box:first-child {
  width: 32.5%
}

.card-boxes .d-flex .card-box:last-child {
  width: 62.5%
}

.card-boxes .card-content>ul {
  display: block;
  float: left;
  width: 100%
}

.card-boxes .card-content>ul>li {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 5px 0 15px 0;
  border-bottom: 1px solid var(--lightgray)
}

.card-boxes .card-content .card-element {
  font-size: 12px;
  line-height: 1.2;
  color: var(--white);
  font-weight: 500;
  display: block;
  align-items: center;
  margin-top: 10px
}

.card-boxes .card-content #barChart {
  padding-right: 20px
}

.card-boxes .card-element h3 {
  color: var(--black);
  display: block;
  font-weight: 500;
  float: left;
  font-size: 16px;
  width: 100%;
  line-height: 1.5;
  padding: 3px 0;
  margin-bottom: 10px
}

.card-boxes .card-element p {
  display: block;
  float: left;
  width: 100%
}

.card-boxes .card-element small {
  color: var(--black);
  position: relative;
  top: 2px;
  float: left;
  left: 7px;
  font-weight: 700;
  font-size: 12px
}

.card-boxes .card-all {
  text-align: center;
  margin: 25px 0
}

.card-boxes .card-all a {
  color: var(--primary);
  padding: 15px 0;
  font-weight: 700
}

.card-boxes .card-all a:hover {
  color: var(--tertiary)
}

.card-boxes .card-element .card-avatar {
  border-radius: 50%;
  width: auto;
  width: 100%
}

.card-boxes .svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden
}

.card-boxes .svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0
}

.top-box {
  border-radius: 8px;
  background-color: var(--white);
  margin-bottom: 20px;
  padding: 30px 15px 30px 50px;
  margin-top: 0;
  margin: 0 1% 1% 1%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .06)
}

.top-box>a {
  font-size: 14px;
  font-weight: 700;
  color: var(--black);
  position: absolute;
  right: 15px;
  bottom: 10px;
  color: var(--tertiary);
  line-height: 1.3em
}

.top-box .box-symbol .icon {
  font-size: 21px;
  color: var(--white);
  position: absolute;
  top: 8px;
  left: 8px
}

.icon-bg-0 {
  background-color: var(--green)
}

.icon-bg-1 {
  background-color: var(--bluewood)
}

.icon-bg-2 {
  background-color: var(--auxiliary)
}

.icon-bg-3 {
  background-color: var(--oslogray)
}

.icon-bg-4 {
  background-color: var(--red)
}

.box-icon-bg {
  height: 60px;
  width: 60px;
  position: absolute;
  top: -20px;
  left: -15px;
  border-radius: 50%
}

.box-symbol img {
  position: absolute;
  top: 7px;
  left: 9px;
  width: 20px;
  height: auto;
  object-fit: cover
}

.top-box>a img {
  width: 20px;
  height: auto;
  box-sizing: border-box;
  position: absolute;
  right: 12px;
  bottom: 12px
}

.icon-fix-1 {
  top: 4px!important;
  left: 7px!important;
  width: 26px!important
}

.box-content h3 a {
  color: var(--primary);
  line-height: 1.25;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 18px;
  display: block
}

.box-content ul li {
  font-size: 14px;
  color: var(--black);
  line-height: 1.2;
  display: inline-block;
  width: 100%;
  padding: 3px 0
}

.box-content ul li strong {
  font-weight: 700
}

.ed_card-boxes.aside .item-content {
  position: relative;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, .5)
}

.ed_card-boxes.aside .item-content h3 {
  padding: 0;
  margin: 0
}

.ed_card-boxes.aside .card-content figure {
  border-radius: 10px;
  left: 0;
  float: left
}

.ed_card-boxes.aside .card-content .item-content {
  border-radius: 0 0 10px 10px;
  position: absolute;
  width: 100%;
  bottom: 0
}

.ed_card-boxes.upcoming .card-box {
  padding: 0;
  overflow: visible;
  margin-right: 4%
}

.ed_card-boxes .user-profile:hover .user-menu {
  opacity: 1;
  z-index: 1111
}

.ed_card-boxes .card-title {
  font-size: 20px;
  height: 40px;
  padding-left: 50px
}

.ed_card-boxes .card-title h2 {
  max-width: 85%;
  line-height: 1.25;
  float: left;
  font-size: 21px
}

.ed_card-boxes .card-box>a {
  font-size: .875em;
  color: var(--black);
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: var(--tertiary);
  line-height: 1.3em
}

.ed_card-boxes .card-box .icon {
  position: relative;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  padding: 7px
}

.ed_card-boxes .card-box .profile-tag {
  background-color: var(--lightgray);
  border-radius: 25px;
  padding: 5px 20px;
  border: 1px solid var(--lightgray);
  position: relative;
  top: 10px;
  right: 30px;
  float: right;
  cursor: pointer
}

.ed_card-boxes .card-box .profile-tag>span {
  color: var(--black);
  font-size: 14px;
  margin-top: 0
}

.ed_card-boxes .card-box .profile-tag>img {
  margin-bottom: -3px
}

.ed_card-boxes .card-box .user-menu {
  background-color: var(--primary);
  border-radius: 15px;
  padding: 15px 0;
  margin-top: 0;
  right: 30px;
  width: 200px;
  position: absolute;
  top: 55px;
  opacity: 0;
  z-index: -1;
  list-style: none
}

.ed_card-boxes .card-box .user-menu li {
  padding: 5px 0;
  width: 100%;
  display: block;
  background-color: transparent;
  border: none
}

.ed_card-boxes .card-box .user-menu ul {
  border-bottom: 1px solid var(--tertiary);
  padding: 10px 0;
  margin: 0
}

.ed_card-boxes .card-box .user-menu ul:last-child {
  border: none
}

.ed_card-boxes .card-box .user-menu li:hover {
  background-color: var(--tertiary)
}

.ed_card-boxes .card-box .user-menu li>a {
  color: var(--white);
  font-size: 15px;
  padding: 0 25px;
  font-weight: 500
}

.ed_card-boxes .select {
  position: absolute;
  right: 30px;
  top: 35px
}

.ed_card-boxes.upcoming .select {
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  right: 15%;
  top: 10%;
  line-height: 1.5;
  color: var(--tertiary)
}

.ed_card-boxes .delete .icon,
.ed_card-boxes .edit .icon {
  -webkit-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .37);
  -moz-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .37);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .37);
  margin-left: 10px;
  margin-bottom: 10px
}

.ed_card-boxes .delete .icon:hover,
.ed_card-boxes .edit .icon:hover,
.ed_card-boxes .location .icon:hover {
  opacity: .8
}

.ed_card-boxes .location {
  width: 30px;
  height: 30px;
  float: left
}

.ed_card-boxes .location .icon {
  background-color: var(--tertiary)
}

.ed_card-boxes .card-content {
  padding-left: 50px
}

.ed_card-boxes .card-box.overflow {
  overflow: visible
}

.ed_card-boxes .card-content>ul {
  display: block;
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0
}

.ed_card-boxes .card-content>ul>li {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  display: inline-flex;
  align-items: baseline;
  width: 100%;
  padding: 5px 0 15px 0;
  border-bottom: 1px solid var(--lightgray)
}

.ed_card-boxes .card-content>ul>li:nth-child(odd) {
  background-color: var(--bluegray)
}

.ed_card-boxes .card-content .card-element {
  font-size: 12px;
  line-height: 1.2;
  color: var(--white);
  font-weight: 500;
  display: block;
  align-items: center;
  margin-top: 10px
}

.ed_card-boxes .card-content .card-element a {
  text-decoration: none!important
}

.ed_card-boxes .card-content #ed_barChart {
  padding-right: 20px
}

.ed_card-boxes .card-element h3 {
  color: var(--black);
  display: block;
  font-weight: 500;
  float: left;
  font-size: 16px;
  width: 100%;
  line-height: 1.5;
  padding: 3px 0
}

.ed_card-boxes .card-element p {
  display: block;
  float: left;
  width: 100%
}

.ed_card-boxes .card-element small {
  color: var(--black);
  position: relative;
  top: 7px;
  float: left;
  left: 7px
}

.ed_card-boxes .card-all {
  margin: 25px auto;
  float: left;
  text-align: center;
  width: 100%
}

.ed_card-boxes .card-all a {
  color: var(--primary);
  padding: 15px 0;
  font-weight: 300
}

.ed_card-boxes .card-all a:hover {
  color: var(--tertiary)
}

.ed_card-boxes .card-element .card-avatar {
  border-radius: 50%;
  width: auto;
  width: 100%
}

.ed_card-boxes .svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden
}

.ed_card-boxes .svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0
}

.ed_card-boxes.upcoming .card-content>ul>li {
  border-bottom: 0;
  padding: 5px 0 5px 10%;
  font-weight: 700;
  font-size: 14px
}

.ed_card-boxes.upcoming .card-title {
  margin-bottom: 0;
  padding-left: 10%;
  color: var(--primary);
  height: 60px
}

.ed_card-boxes.upcoming .card-title h2 {
  margin-top: 20px;
  font-size: 21px;
  font-weight: 700
}

.ed_card-boxes.upcoming .card-content {
  padding-left: 0;
  padding-bottom: 21px;
  float: left;
  width: 100%;
  background-color: var(--white)
}

.ed_card-boxes.upcoming .card-box .icon {
  top: -10px;
  margin: 8px auto;
  height: 44px;
  display: block;
  margin: 0 auto;
  width: 44px;
  padding: 12px;
  background-color: var(--auxiliary);
  font-size: 22px;
  padding: 11px
}

.ed_card-boxes.upcoming .card-content>span {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--gray);
  top: -19px;
  left: -14px
}

.ed_card-boxes.upcoming .card-content>ul>li>h3 {
  font-size: 18px;
  margin: 0;
  padding: 10px 50px 10px 0;
  width: 40%;
  position: relative
}

.ed_card-boxes.upcoming .card-content>ul>li>h3:after {
  background: var(--lightgray);
  height: 1px;
  width: 30px;
  position: absolute;
  content: '';
  top: 20px;
  right: 10px
}

.ed_card-boxes.upcoming .card-content>span.green {
  background: var(--green)
}

.ed_card-boxes.upcoming .card-content>span.gray {
  background: var(--bluewood)
}

.ed_card-boxes.upcoming .card-content>span.blue {
  background: var(--tertiary)
}

.ed_card-boxes.upcoming .card-content>span.light {
  background: var(--oslogray)
}

.ed_card-boxes.upcoming .card-content>span.red {
  background: var(--red)
}

.ed_card-boxes.upcoming .card-content>a {
  position: absolute;
  bottom: 20px;
  right: 20px;
  top: auto;
  color: var(--primary);
  font-weight: 700
}

.ed_card-boxes.upcoming .card-content>a:hover {
  color: var(--tertiary)
}

.ed_card-boxes.upcoming .card-weeks {
  position: absolute;
  right: -20px;
  width: 60px;
  top: 10%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--bluegray);
  border: 1px solid var(--lightgray);
  width: 50px
}

.ed_card-boxes.upcoming .card-weeks ul {
  height: 100%
}

.ed_card-boxes.upcoming .card-weeks ul li {
  height: 20%;
  width: 100%;
  font-size: 14px;
  float: left;
  display: block;
  text-align: center;
  padding: 10px 0;
  font-weight: 700;
  color: var(--primary);
  border-bottom: 1px solid var(--lightgray)
}

.ed_card-boxes.upcoming .card-weeks ul li:last-child {
  border-bottom: 0
}

.ed_card-boxes.upcoming .card-footer {
  background-color: var(--primary);
  padding-right: 10%;
  padding-left: 10%;
  height: 60px;
  float: left;
  width: 100%;
  border-radius: 0 0 10px 10px;
  margin-bottom: 25px;
  padding-top: 0
}

.ed_card-boxes.upcoming .card-footer>div>div {
  position: relative
}

.ed_card-boxes.upcoming .card-footer span {
  bottom: -10px;
  position: absolute;
  color: var(--white);
  font-size: 12px;
  font-weight: 700;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center
}

.ed_card-boxes .card-box {
  min-height: 220px;
  border-radius: 8px;
  background-color: var(--white);
  padding: 10px 0 10px 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .06);
  margin-bottom: 25px
}

.ed_card-boxes.aside {
  padding-left: 4%;
  padding-right: 4%
}

.ed_card-boxes.aside .card-wrapper {
  float: left;
  display: block;
  width: 100%
}

.ed_card-boxes.aside .card-box {
  width: 100%;
  background-color: transparent;
  box-shadow: 0 0 0 0 transparent
}

.ed_card-boxes.aside .card-content {
  padding-left: 0
}

.ed_card-boxes.aside .card-title {
  padding-left: 0;
  height: 0
}

.ed_card-boxes.aside .card-title h2 {
  padding: 10px 0
}

.ed_card-boxes.aside .aside-box {
  position: relative;
  float: left
}

.aside-box {
  background-color: var(--white);
  box-sizing: border-box;
  width: 100%;
  position: relative
}

.aside-box figure {
  overflow: hidden
}

.aside-box figure img {
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1);
  transform: scale(1)
}

.aside-box figure a {
  height: 100%;
  display: block
}

.aside-box .item-content {
  cursor: pointer
}

.aside-box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.aside-box .item-content {
  padding: 20px;
  bottom: 0;
  position: absolute
}

.aside-box .item-content h3 {
  color: var(--white);
  font-size: 18px;
  line-height: 1.2;
  padding: 10px 0;
  text-shadow: 1px 1px var(--dark)
}

.aside-box .item-content span {
  color: var(--white);
  text-shadow: 1px 1px var(--dark)
}

.aside-box .item-content .language {
  color: var(--white);
  font-size: 14px
}

.aside-box .item-content .date {
  color: var(--white);
  font-size: 14px
}

.ed_card-boxes.aside .card-content figure {
  margin: 0
}

.ed_card-boxes.aside .bootstrap-datetimepicker-widget {
  border-radius: 10px;
  padding: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 999;
  float: left;
}

body,
html {
  font-family: 'SF Pro Text', sans-serif !important;
  width: 100%;
  display: block;
  float: left;
  background-color: var(--background)!important;
  overflow-x: hidden;
  font-size: 16px;
  position: relative;
  height: 100%;
}

.theme-layout {
  min-height: 100vh;
  float: left;
  display: block;
  width: 100%;
  position: relative
}

.main-content {
  padding-bottom: 80px;
  width: 100%;
  min-height: calc(100vh - 158px);
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  position: relative;
  left: 0;
  top: 0;
  float: left;
  z-index: 999;
  display: flex;
  flex-basis: 150px;
  flex-shrink: 0
}

.logo img {
  margin-left: 0;
  margin-top: 0;
  height: 100px;
  position: relative;
  z-index: 2
}

.logo img:focus {
  outline: 0
}

.logo-shape {
  height: 80px;
  width: 80px;
  background-color: var(--primary);
  position: absolute;
  top: -8px;
  left: -10px;
  border-radius: 50%;
  z-index: 1
}

.header {
  width: 100%;
  display: flex;
  float: left;
  height: 60px;
  position: relative;
  background: var(--primary);
  background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%)
}

.sub-header {
  height: 45px;
  background-color: var(--white);
  display: block;
  padding: 15px 0 15px 0;
  margin-bottom: 2%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .06);
  float: left;
  display: block;
  width: 100%
}

.sub-header ul {
  margin-bottom: 0
}

.sub-header ul li {
  line-height: 1;
}

.sub-header ul a {
  color: var(--primary);
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  margin-left: 8%
}

.user-profile {
  flex-basis: 200px;
  flex-shrink: 0;
  display: flex;
  position: relative;
  max-width: 200px;
  float: left
}

.user-profile .profile-tag {
  float: right;
  right: 30px;
  cursor: pointer;
  top: 0;
  padding: 6px 10px;
  height: 60px
}

.user-profile .profile-tag img {
  max-height: 44px;
  width: auto;
  border: 2px solid var(--white);
  border-radius: 50%
}

.user-profile .profile-tag img:first-child {
  margin-right: 10px;
  float: left
}

.user-profile .profile-tag span {
  color: var(--white);
  margin-top: 13px;
  font-size: 18px;
  font-weight: medium;
  display: inline-block
}

.user-profile .profile-tag img:last-child {
  width: 14px;
  margin-bottom: -2px;
  height: auto;
  object-fit: cover;
  text-align: right;
  margin-left: 20px
}

.user-profile .profile-tag .icon {
  padding: 5px;
  font-size: 14px
}

.user-profile:hover .user-menu {
  opacity: 1;
  z-index: 1111
}

.user-menu {
  position: absolute;
  right: 0;
  top: 60px;
  opacity: 0;
  z-index: -1;
  transition: all .25 ease-in-out
}

.user-menu a>.icon {
  padding: 5px
}

.user-menu a>.icon:before {
  color: var(--mediumgray)
}

.user-menu ul li {
  display: block;
  background-color: var(--white);
  width: 100%;
  padding: 20px 0;
  transition: all .25 ease-in-out;
  border-bottom: 1px solid var(--lightgray)
}

.user-menu ul li:hover {
  background-color: var(--bluegray)
}

.user-menu ul li a {
  color: var(--black);
  font-size: 14px;
  padding: 0 25px;
  font-weight: 500;
  text-decoration: none
}

.user-menu ul li img {
  margin-bottom: -2px;
  width: 16px;
  margin-right: 10px;
  height: auto;
  object-fit: cover
}

.main-menu {
  display: flex;
  float: left;
  position: relative;
  flex-grow: 1
}

.dashboard-menu {
  display: block;
  float: left;
  position: relative;
  max-height: 60px;
  background: var(--primary);
  background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%)
}

.dashboard-menu > ul {
  margin-bottom: 0;
}

.dashboard-menu ul li img {
  width: 14px;
  height: auto;
  object-fit: cover;
  margin-right: 5px;
  margin-bottom: -1px
}

.dashboard-menu>ul li {
  display: inline-block;
  font-weight: 500;
  padding: 22px 0;
  margin-right: 22px;
  font-size: 16px;
  line-height:1;
}

.dashboard-menu>ul li a {
  position: relative
}

.dashboard-menu>ul>li>a {
  color: var(--white)!important;
  font-weight: 700;
  text-decoration: none
}

.dashboard-menu>ul>li>a>.icon {
  color: var(--white);
  padding: 5px;
  font-size: 14px
}

.megamenu {
  visibility: hidden;
  display: none;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 999;
  background-color: var(--white);
  padding: 8px 30px 15px 50px;
  opacity: .941;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
  justify-content: center;
  width: 1170px
}

.megamenu:hover,
li:hover .megamenu {
  opacity: 1;
  display: block;
  visibility: visible;
}

.mega-item {
  position: relative
}

.mega-item:before {
  opacity: 0;
  position: absolute;
  content: ' ';
  left: 25%;
  margin-left: -10px;
  width: 10px;
  height: 14px;
  background-color: var(--white);
  transform: rotate(45deg);
  bottom: 0;
  z-index: 10;
  top: 37px
}

.mega-item:hover:before,
.megamenu:hover+.mega-item:before {
  display: inline-block;
  opacity: 1
}

.megamenu li a {
  color: var(--dark);
  font-weight: 400;
  font-size: 14px;
  padding: 5px 5px 6px 0!important
}

.megamenu li a>.icon {
  display: inline-block;
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.megamenu li a:hover {
  color: var(--dark)
}

.megamenu strong {
  color: var(--primary);
  font-weight: 700;
  margin-bottom: 6px;
  display: block
}

.megamenu ul li {
  padding: 3px 0 3px 0;
  display: block
}

.megamenu>li {
  display: flex;
  flex-direction: column;
  width: 100%
}

.megamenu li img {
  height: 10px!important;
  width: 6px!important;
  margin: 0 2px 1px 0!important
}

.menu-mobile {
  background: var(--primary);
  background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%);
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px
}

.menu-mobile ul {
  max-height: 105px;
  padding: 10px 0
}

.menu-mobile ul li {
  border-right: 1px solid var(--auxiliary);
  width: 100%;
  padding: 15px 5px;
  text-align: center
}

.menu-mobile ul li:last-child {
  border-right: 0 none
}

.menu-mobile ul li .icon {
  font-size: 24px
}

.menu-mobile ul li a {
  text-decoration: none
}

.menu-mobile ul li span {
  display: block;
  width: 100%;
  color: var(--white);
  font-size: 15px;
  padding: 5px 0;
  text-decoration: none;
  line-height: 1.2
}

.side-menu-header {
  padding: 10px;
  max-height: 100px;
  height: 100px;
  border-radius: 30px 0 0 0;
  background: var(--primary);
  background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%)
}

.side-menu-profile {
  display: flex;
  align-items: center;
  justify-content: center
}

.side-menu-header img {
  height: 80px;
  border-radius: 50%;
  border: 2px solid var(--white)
}

.side-menu-header h2 {
  color: var(--white);
  display: inline-block;
  padding-left: 10px;
  line-height: 1.5;
  font-size: 18px
}

.side-menu-content {
  padding: 0 !important;
}

.side-menu-content>ul>li {
  border-bottom: 1px solid var(--lightgray)
}

.side-menu-content>ul>li:last-child {
  border-bottom: none
}

.side-menu-content>ul>li>a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  background-color: var(--bluegray)
}

.side-menu-content>ul>li>a:focus {
  text-decoration: none
}

.side-menu-content>ul>li.active>ul {
  display: flex
}

.side-menu-content>ul>li .icon {
  padding: 7px 12px;
  font-size: 24px;
  justify-content: flex-start
}

.side-menu-content>ul>li .icon.right {
  transform: rotate(-90deg);
  font-size: 12px;
  justify-content: flex-end;
  margin-left: auto
}

.side-menu-content>ul>li p {
  color: var(--dark);
  font-size: 15px;
  justify-content: flex-start;
  margin-bottom: 0;
}

.side-menu-content > ul > li > a > .icon:before {
  color: var(--dark)
}

.side-menu-content>ul>li>a:hover {
  background-color: var(--white);
  text-decoration: none;
  cursor: pointer
}

.side-menu-content>ul>li.active > a > .icon:before,
.side-menu-content>ul>li:hover > a > .icon:before {
  color: var(--primary)
}

.side-menu-content>ul>li.active>a,
.side-menu-content>ul>li:hover>a {
  background-color: var(--white)
}

.side-menu-content>ul>li.active p,
.side-menu-content>ul>li:hover p {
  color: var(--primary)
}

.side-menu-footer {
  padding: 5px 10px;
  display: flex;
  border-radius: 0 0 0 10px;
  background: var(--primary);
  background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%)
}

.side-menu-footer a {
  padding: 10px
}

.side-menu-footer a:hover .icon:before {
  color: var(--primary)
}

.side-menu-footer .left {
  justify-content: flex-start
}

.side-menu-footer .right {
  justify-content: flex-end;
  margin-left: auto
}

.side-menu-footer .icon {
  font-size: 18px
}

ul.side-menu__results {
  display: none;
  width: 200%;
  font-size: 12px;
  z-index: 500;
  text-align: center;
  margin: auto;
  border-radius: 0 10px 10px 0;
  padding: 0;
  float: left;
  padding: 10px;
  position: absolute;
  left: 100%;
  top: 0;
  margin-top: -100px;
  min-height: 354px
}

ul.side-menu__results ul {
  padding: 0
}

ul.side-menu__results li {
  width: 100%;
  list-style-type: none;
  padding: 5px 0;
  text-align: left
}

ul.side-menu__results h2 {
  text-align: left;
  text-align: left;
  font-size: 21px
}

ul.side-menu__results h3 {
  padding: 10px 0;
  text-align: left;
  font-size: 14px
}

ul.side-menu__results>li>ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start
}

ul.side-menu__results>li>ul>li {
  box-sizing: border-box;
  width: 50%
}

ul.side-menu__results>li>ul>li a {
  color: var(--tertiary);
  line-height: 1.25
}

ul.side-menu__results>li>ul>li a:hover {
  color: var(--primary)
}

.search-box {
  text-align: left;
  float: left;
  position: relative;
  top: 10px
}

.search-box .icon {
  position: absolute;
  left: 10px;
  top: 12px
}

.search-box input {
  background-color: var(--auxiliary);
  color: var(--white);
  border-radius: 5px;
  border: 0 none;
  height: 40px;
  padding: 0 20px 0 32px
}

.search-box input:focus {
  outline: 0;
  background-color: var(--secondary)
}

.search-box input::placeholder {
  color: var(--white);
  font-size: 15px
}


/* GZA buttons */
[class*="ed-btn"] {
  z-index: 1;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px 25px;
  margin: 5px 0 !important;
  border: 1px solid transparent !important;
  font-family: 'SF Pro Text', sans-serif !important;
  font-size: 14px !important;
  font-weight: 800 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  text-align: center !important;
  cursor: pointer !important;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
[class*="ed-btn"]:hover {
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.ed-btn__primary {
  color: var(--white) !important;
  background: var(--primary) !important;
  border-radius: 40px !important;
}
.ed-btn__primary:hover {
  color: var(--white) !important;
  background: var(--secondary) !important;
}
.ed-btn__secondary {
  color: var(--white) !important;
  background: var(--secondary) !important;
  border-radius: 7px !important;
}
.ed-btn__secondary:hover {
  color: var(--dark) !important;
  background: var(--tertiary) !important;
}
.ed-btn__tertiary {
  color: var(--dark) !important;
  background: var(--tertiary) !important;
  border-radius: 2px !important;
  border: 1px solid transparent;
}
.ed-btn__tertiary:hover {
  color: var(--dark) !important;
  background: var(--background) !important;
  border: 1px solid var(--tertiary) !important;
}
.ed-btn-ghost__primary {
  color: var(--primary) !important;
  background: transparent !important;
  border-color: var(--primary) !important;
  border-radius: 40px !important;
}
.ed-btn-ghost__primary:hover {
  border-color: var(--dark) !important;
  color: var(--dark) !important;
}
.ed-btn-ghost__secondary {
  color: var(--primary) !important;
  background: transparent !important;
  border-color: var(--primary) !important;
  border-radius: 7px !important;
}
.ed-btn-ghost__secondary:hover {
  border-color: var(--dark) !important;
  color: var(--dark) !important;
}
.ed-btn-ghost__tertiary {
  color: var(--primary) !important;
  background: transparent !important;
  border-color: var(--primary) !important;
  border-radius: 2px !important;
}
.ed-btn-ghost__tertiary:hover {
  border-color: var(--dark) !important;
  color: var(--dark) !important;
}
.ed-btn-transparent {
  background-color: transparent !important;
  cursor: pointer;
  position: relative;
  border: 0 !important;
  min-width: auto;
  padding: initial;
}
.ed-btn-transparent:hover, .ed-btn-transparent:active {
  background-color: transparent !important;
  border: none;
}
button.small {
  font-size: 12px !important;
}
button.medium {
  font-size: 14px;
}
button.large {
  font-size: 16px !important;
}
button[disabled="true"] {
  -webkit-filter: grayscale(100%);
  opacity: 0.75;
}

.card-boxes.lessons {
  padding-top: 0;
  height: calc(100vh - 200px);
  overflow-x: hidden;
  overflow-y: scroll;
  display: block;
  display: none;
  padding-left: 20px;
  padding-right: 20px;
}

.card-boxes.lessons.scheduler {
  overflow-y: hidden;
}

.card-boxes.lessons > li {
  padding-top: 0;
  display: block;
}
.card-boxes.lessons .card-box {
  width:100%;
  padding:0;
  margin-top:0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-bottom: 30px;
}
.card-boxes.lessons .card-box .card-element {
  position: absolute;
  right: 20px;
  top: 20px;
}

.card-boxes.lessons .card-box .card-title {
  padding:15px 30px;
  margin-bottom: 0;
  height: auto;
  min-height: 55px;
}

.card-boxes.lessons .card-box .card-title h2 {
  float: left;
}

.card-boxes.lessons .card-box .card-breadcrumb {
  padding:0 30px 0 30px;
}

.card-boxes.lessons .card-box .card-content {
  padding:15px 30px;
  float: left;
  margin-top: 0;
}

.card-boxes.lessons .card-box .card-content p {
  color: var(--dark);
}

.card-boxes.lessons .card-box .card-footer {
  padding:15px 30px;
  float: left;
  width: 100%;
}

.card-boxes.lessons .card-box .card-footer .icon {
  background-color: var(--primary);
  width: 36px;
  height: 36px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}

.card-boxes.lessons .card-box .card-footer .icon:before {
  color: var(--white);
}

.card-boxes.lessons .card-breadcrumb {
  float: left;
  display: block;
  width: 100%;
}

.card-boxes.lessons .card-breadcrumb > li {
    float: left;
    width: auto;
    margin-right: 10px;
    position: relative;
}

.card-boxes.lessons .card-breadcrumb > li:after {
    content: "/";
    position: absolute;
    right: -7px;
}

.card-boxes.lessons .card-breadcrumb > li:last-child:after {
  content: "";
}

.footer {
  display: block;
  position: fixed;
  bottom: 0;
  float: left;
  width: 100%;
  background: var(--primary);
  background: -moz-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: -webkit-linear-gradient(top, var(--primary) 0, var(--tertiary) 100%);
  background: linear-gradient(to bottom, var(--primary) 0, var(--tertiary) 100%)
}

.copyright p {
  color: var(--white);
  font-size: 14px;
  text-align: center;
  padding: 12px 0;
  margin-bottom: 0;
}

#datepicker-inline .datepicker {
  padding: 15px
}

.bootstrap-datetimepicker-widget .fa-clock-o,
.bootstrap-datetimepicker-widget .fa-calendar
{
  color: #fff;
  font-size: 24px;
  padding: 10px;
}

.bootstrap-datetimepicker-widget table {
  margin: 0;
}

.bootstrap-datetimepicker-widget table td span {
  width: 36px;
  height: 36px
}

#datepicker-inline {
  display: block;
  float: left;
  width: 100%
}

.bootstrap-datetimepicker-widget .picker-switch td span {
  color: var(--white)
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background: var(--primary)!important;
  border-radius: 50%!important;
  width: 40px!important;
  display: block
}

.bootstrap-datetimepicker-widget .show + .accordion-toggle {
  border-radius: 0 0 10px 10px;
}

.bootstrap-datetimepicker-widget .accordion-toggle {
  background-color: var(--primary) !important;
  border-radius: 10px 10px 0 0;
}

.bootstrap-datetimepicker-widget .timepicker-picker {
  border-radius: 0 0 10px 10px;
}

.bootstrap-datetimepicker-widget table td span:hover {
  background: var(--tertiary)!important
}

.bootstrap-datetimepicker-widget table td span {
  width: 70px !important;
  height: 70px !important;
}

.bootstrap-datetimepicker-widget table td.day {
  height: 40px;
  line-height: 40px;
  width: 40px;
}

.timepicker-picker {
  background-color: var(--primary)!important
}

.swiper-button-next,
.swiper-button-prev {
  right: 10px;
  padding: 30px;
  color: var(--white)!important;
  fill: #fff!important;
  stroke: #fff!important;
  transform: scale(.75);
  top: 40%
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: 0
}

/*
JQX
*/
.card-boxes.lessons > li > div.jqx-widget-content {
  border-radius:10px;
  width:100% !important;
  border:0;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} 

.jqx-widget-content {
  font-family: 'SF Pro Text', sans-serif !important;
}

span.jqx-fill-state-pressed {
  background-color: var(--secondary);
  color: var(--white);
}

.jqx-fill-state-hover {
  background-color: var(--lightgray);
  border-radius: 0;
}

.jqx-scrollbar-state-normal {
  background-color: var(--white);
}

.jqx-scrollbar-thumb-state-normal {
  background-color: var(--lightgray);
  border:0;
  border-radius: 0;
}

.jqx-scheduler-toolbar span.jqx-fill-state-normal {
  background-color: var(--primary);
  color: var(--white);
  padding: 10px;
  border:0;
  font-family: 'SF Pro Text', sans-serif !important;
}

.jqx-scheduler-toolbar span.jqx-fill-state-pressed {
  background-color: var(--auxiliary);
}

.jqx-popup > .jqx-window-header {
  background-color: var(--primary);
  color: var(--white);
  border: 0;
  padding: 10px;
}

button.jqx-button, 
button.jqx-button:hover,
button.jqx-button:focus
{
  padding: 10px !important;
  border: 0 !important;
  border-radius: 5px;
  outline:none;
}

button.jqx-button.jqx-fill-state-normal {
  background-color: var(--oslogray);
  color: var(--white);
  padding: 10px;
  border: 0;
}

button.jqx-button.primary {
  background-color: var(--primary);
  color: var(--white);
  padding: 10px;
  border: 0;
}

.jqx-icon-close {
  background-color: var(--white);
  width:30px;
  height: 30px;
  border-radius: 50%;
  right: 5px;
  position: relative;
}

.jqx-scheduler .jqx-widget-header.jqx-grid-header {
  background-color: var(--primary);
  color: #fff;
}

.jqx-scheduler .jqx-grid-column-header, .jqx-scheduler.jqx-widget .jqx-grid-column-header {
  background-color: var(--primary);
}

.jqx-scheduler-month-cell {
  background-color: var(--bluegray);
  padding: 3px;
}

.jqx-scheduler-month-weekend-cell {
  background-color: var(--background);
}

.jqx-calendar-title-content {
  color: #fff;
}

.jqx-calendar .jqx-widget-header {
  background-color: var(--primary);
}

.jqx-calendar-title-content {
  bottom: 5px;
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lightgray)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bluewood)
}

@media only screen and (max-width:1600px) {
  .main-content {
    max-width: 1280px
  }
}

@media only screen and (max-width:1280px) {
  .sub-header ul {
    margin-left: 12%
  }
  .card-box,
  .top-box {
    padding: 3% 0 2% 3.5%
  }
  .megamenu {
    width: 900px
  }
  .dashboard-menu>ul li a {
    font-size: 14px
  }
}

@media only screen and (max-width:1100px) {
  .container {
    max-width: 80%
  }
}

@media only screen and (max-width:1040px) {
  .sub-header ul {
    margin-left: 20%
  }
  .dashboard-menu>ul li a {
    font-size: 13px
  }
  .megamenu {
    width: 850px;
    left: -5%;
    padding-left: 40px;
    padding-right: 0
  }
}

@media only screen and (max-width:991px) {
  .ed_card-boxes.aside .card-content .item-content {
    position: relative;
    float: left
  }
  .ed_card-boxes.aside .card-content figure {
    border-radius: 10px 10px 0 0
  }
  .search-box {
    margin: 0!important;
    position: absolute!important;
    top: 60px;
    right: 0
  }
  .search-box input {
    padding: 13px 20px 13px 32px!important;
    border-radius: 0 0 0 5px!important
  }
  .search-box .icon {
    top: 14px!important
  }
  .card-boxes .d-flex,
  .top-boxes .d-flex {
    flex-wrap: wrap!important
  }
  .top-boxes .d-flex .top-box {
    width: 32.3%;
    padding: 30px 0 40px 50px
  }
  .top-boxes .d-flex .top-box:last-child,
  .top-boxes .d-flex .top-box:nth-last-child(2) {
    width: 48.5%
  }
  .card-boxes .d-flex .card-box:first-child {
    width: 100%
  }
  .card-boxes .d-flex .card-box:last-child {
    width: 100%
  }
  .card-boxes .card-element .card-avatar {
    width: auto;
    max-height: 100px
  }
  .megamenu {
    width: 750px;
    left: -11%;
    padding-left: 40px;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px
  }
}

@media only screen and (max-width:768px) {
  .container {
    max-width: 98%
  }
  .ed_card-boxes .card-box .user-menu {
    width: 340px
  }
  .ed_card-boxes .card-box .user-menu>ul {
    width: 50%;
    float: left;
    border: 0
  }
  .ed_card-boxes .card-box .user-menu li {
    padding: 2px 0
  }
  .card-boxes .card-box .user-menu {
    width: 340px
  }
  .card-boxes .card-box .user-menu>ul {
    width: 50%;
    float: left;
    border: 0
  }
  .dashboard-menu,
  .megamenu,
  .sub-header {
    display: none
  }
  .header {
    margin-bottom: 50px;
    position: relative
  }
  .top-box {
    padding: 30px 0 40px 40px
  }
  .card-box {
    padding: 30px 0 40px 40px
  }
  .placeholders .d-flex {
    flex-wrap: wrap!important;
    justify-content: center
  }
  .placeholder-main {
    order: 1
  }
  .placeholder-sidebar {
    order: 2
  }
  .top-boxes {
    margin-top: 0
  }
  .main-content {
    margin-top: 25px
  }
  .menu-mobile {
    display: block!important
  }
  .side-menu-header {
    border-radius: 30px 30px 0 0!important
  }
  .side-menu-footer {
    border-radius: 0 0 10px 10px!important
  }
  ul.side-menu__results {
    position: relative!important;
    margin-top: 0!important;
    width: 100%!important;
    left: 0!important;
    padding-bottom: 0!important;
    min-height: auto!important;
    border-radius: 0!important;
    border-bottom: 1px solid var(--lightgray)
  }
  .side-menu-content>ul>li.active .icon.right {
    transform: rotate(0)!important
  }
  .main-menu {
    position: initial
  }
  .card-boxes.lessons {
    position: absolute !important;
    top: 285px;
    overflow: hidden;
    height: auto;
    padding: 0 10px;
  }
}

@media only screen and (max-width:620px) {
  .ed_card-boxes.upcoming>div {
    width: 100%
  }
  .card-boxes .d-flex .card-box,
  .top-boxes .d-flex .top-box {
    padding: 8% 0 6% 4%
  }
  .card-boxes .d-flex .card-box:first-child {
    width: 100%
  }
  .card-boxes .d-flex .card-box:last-child {
    width: 100%
  }
}

@media only screen and (max-width:480px) {
  .card-boxes .d-flex .top-box,
  .top-boxes .d-flex .top-box {
    width: 48.5%!important;
    padding: 11% 0 7% 6%
  }
  ul.side-menu__results {
    padding: 15px 15px 15px 15px!important
  }
}

@media only screen and (max-width:380px) {
  .card-boxes .d-flex .card-box,
  .top-boxes .d-flex .top-box {
    width: 100%!important;
    padding: 30px 0 40px 50px
  }
}