.fc-button-primary {
    background-color: var(--primary) !important;
    border:0 !important;
    &:hover {
        background-color: var(--secondary) !important;
    }
    &:focus {
        -webkit-box-shadow: 0 0 0 0 rgb(0 0 0 / 50%) !important;
        box-shadow: 0 0 0 0 rgb(0 0 0 / 0%) !important;
        background-color: var(--secondary) !important;
    }
}